// -----------------------------------------------------------------------------
// This file contains all styles related to the input component.
// -----------------------------------------------------------------------------

.has-search {
    .form-control {
      padding-left: 3rem;
      border: 1px solid $light-gray;
      box-sizing: border-box;
      filter: drop-shadow(0px 1px 6px rgba(0, 0, 0, 0.1));
      border-radius: 24px;
      height: 55px;
    }
    .input-icon {
      font-size: 28px;  
      position: absolute;
      z-index: 1;
      pointer-events: none;
      color: $light-gray;
      top: 15px; 
      left: 30px;
      margin: auto;
    }
}