// -----------------------------------------------------------------------------
// This file contains all styles related to the modal component.
// -----------------------------------------------------------------------------

.modal {
    .modal-content {
       border: none;
       border-radius: 12px;
       padding: 25px 0 25px 0;
    }
}